.button {
    text-align: center;
    font-family: savoyeletplain,Optima;
    fill: #6d6e71;
    color: #f03684;
    border: 0;
    font-size: 100px;
    font-style: inherit;
    font-weight: bold;
}

h1 {
    font-family: savoyeletplain,Optima;
    font-size: 150px;
    font-weight: 900;
    color: #f0368341;
    border: 0;
}

